@font-face {
  font-family: "vazir";
  src: url("../font/vazir.eot") format("eot"),
    url("../font/vazir.ttf") format("truetype"),
    url("../font/vazir.woff") format("woff2"),
    url("../font/vazir.woff2") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "vazir";
  direction: rtl;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    margin: auto;
}

header#header {
  width: 100%;
  height: 100vh;
  position: relative;
}

header nav {
  position: absolute;
  z-index: 1;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: center;
width: 100%;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: rgb(226, 95, 43);
}

.for {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.sky {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.moon {
  position: absolute;
  top: 76%;
  left: 45%;
  width: 150px;
}

.wolf{
    height: 631px;
    background-image: url(../images/wolf.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wolf .wolf-tite{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}
.wolf .wolf-tite h1{
    font-size: 25px;
    color: #fff;
}
.wolf .wolf-tite p{
    color: #fff;
    margin-top: 10px;
}

.wolf .wolf-content{
    color: #fff;
}

.wolf .wolf-content p{
    text-align: center;
    font-weight: 900;
    color: black;
    padding-left: 80px;
}